# 01SparkBaseLocal

Este cuaderno ilustra el primer paso para verificar el funcionamiento de PySpark
_____

This notebook has an example for check PySpark installation

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
        .appName("Local") \
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/13 17:18:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Creamos un dataframe y lo mostramos

In [ ]:
Datos = [("Javier", 23), ("Marta", 34), ("Pedro", 45), ("Ana", 56), ("Luis", 67)]

In [4]:
df = spark.createDataFrame(Datos, ["Nombre", "Edad"])

In [5]:
df.show()

+------+----+
|Nombre|Edad|
+------+----+
|Javier|  23|
| Marta|  34|
| Pedro|  45|
|   Ana|  56|
|  Luis|  67|
+------+----+